In [179]:
# Imports
import numpy as np
import pandas as pd
import datetime as dt
import matplotlib.pyplot as plt
import matplotlib.gridspec as gridspec
from IPython import get_ipython
import matplotlib.mlab as mlab
import itertools 
import NormalDataParserPy
import sklearn

In [174]:
# Inputs

marketDataCpp = NormalDataParserPy.orderBooksWithDepth()
marketDataCpp.query_filter.exchange_vec = ['ICE_CHC'];
marketDataCpp.query_filter.date_vec = ['02202018']
marketDataCpp.query_filter.symbols_vec = ['CC  FMK0018!']
marketDataPy = marketDataCpp.get(num_of_levels = 5, numOrderIdsPerLevel = 500)


t_time = pd.DatetimeIndex(pd.to_datetime(marketDataPy.protocol_message_time)).tz_localize('UTC').tz_convert('US/Central').tz_localize(None)
print 'TOTAL: ' + str(len(t_time)) + ' events'

raw_data_US = pd.DataFrame({'t_time' : t_time,
    'bid_orders' : marketDataPy.bid_orders[:,0], 'bid_size': marketDataPy.bid_size[:,0], 'bid_price': marketDataPy.bid_price[:,0],
    'ask_price': marketDataPy.ask_price[:,0], 'ask_size': marketDataPy.ask_size[:,0], 'ask_orders' : marketDataPy.ask_orders[:,0],
    'trade_size': marketDataPy.trade_size},
    columns = ['t_time', 'trade_size', 'bid_orders', 'bid_size', 'bid_price', 'ask_price', 'ask_size', 'ask_orders'])

Querying data from the database...

Snapshot Started...security Id: 5373846
	02/20/18 04:00:19 (41_146_030 nsec) - local time
Snapshot Completed...security Id: 5373846
	02/20/18 04:00:19 (52_889_760 nsec) - local time
Total Rows Processed: 280926

!!!!!!!!!!!!! Packet Fetching FINIHSED SUCCESSFULLY !!!!!!!!!!!!!
TOTAL: 127127 events

In [175]:
# data cleaning
# bad data in front
TIMESTAMP_INDEX = 1
raw_data_US.iloc[TIMESTAMP_INDEX:].tail(10)

,t_time,trade_size,bid_orders,bid_size,bid_price,ask_price,ask_size,ask_orders
127117,2018-02-20 12:30:00.260,0,1,3,20810.0,0.0,0,1
127118,2018-02-20 12:30:00.260,0,1,3,20810.0,0.0,0,1
127119,2018-02-20 12:30:00.260,0,1,3,20810.0,0.0,0,1
127120,2018-02-20 12:30:00.260,0,1,3,20810.0,0.0,0,1
127121,2018-02-20 12:30:00.260,0,1,3,20810.0,0.0,0,1
127122,2018-02-20 12:30:00.260,0,1,3,20810.0,0.0,0,1
127123,2018-02-20 12:30:00.260,0,1,3,20810.0,0.0,0,1
127124,2018-02-20 12:30:00.260,0,1,3,20810.0,0.0,0,1
127125,2018-02-20 12:30:00.260,0,1,3,20810.0,0.0,0,1
127126,2018-02-20 12:30:00.260,0,0,0,NaN,0.0,0,1

In [176]:
#data_US=raw_data_US.iloc[5500:]
#Select hours
data_US=raw_data_US.dropna(axis=0, how='any')
data_US=data_US[data_US.t_time.dt.strftime('%H:%M:%S').between('05:00:00','10:54:59')]
data_US.bid_price=data_US.bid_price/10
data_US.ask_price=data_US.ask_price/10
data_US=data_US.rename(columns={'trade_size':'trade_size_us','bid_orders':'bid_orders_us',
                                'bid_size':'bid_size_us','bid_price':'bid_price_us', 
                                'ask_orders':'ask_orders_us','ask_size':'ask_size_us',
                                'ask_price':'ask_price_us', })

In [177]:
data_US.head(5)

,t_time,trade_size_us,bid_orders_us,bid_size_us,bid_price_us,ask_price_us,ask_size_us,ask_orders_us
518,2018-02-15 07:50:03.403933002,0,1,3,2108.0,2159.0,15,1
530,2018-02-16 10:37:05.943612002,0,1,1,2109.0,2150.0,20,2
10452,2018-02-20 05:00:01.052778003,0,6,7,2128.0,2129.0,2,2
10453,2018-02-20 05:00:01.669027002,0,7,8,2128.0,2129.0,2,2
10454,2018-02-20 05:00:07.003783002,0,7,8,2128.0,2129.0,2,2

In [183]:
# Inputs

marketDataCpp = NormalDataParserPy.orderBooksWithDepth()
marketDataCpp.query_filter.exchange_vec = ['ICE_CHC'];
marketDataCpp.query_filter.date_vec = ['02202018']
marketDataCpp.query_filter.symbols_vec = ['C   FMK0018!']
marketDataPy = marketDataCpp.get(num_of_levels = 5, numOrderIdsPerLevel = 500)


t_time = pd.DatetimeIndex(pd.to_datetime(marketDataPy.protocol_message_time)).tz_localize('UTC').tz_convert('US/Central').tz_localize(None)
print 'TOTAL: ' + str(len(t_time)) + ' events'

raw_data_UK = pd.DataFrame({'t_time' : t_time,
    'bid_orders' : marketDataPy.bid_orders[:,0], 'bid_size': marketDataPy.bid_size[:,0], 'bid_price': marketDataPy.bid_price[:,0],
    'ask_price': marketDataPy.ask_price[:,0], 'ask_size': marketDataPy.ask_size[:,0], 'ask_orders' : marketDataPy.ask_orders[:,0],
    'trade_size': marketDataPy.trade_size},
    columns = ['t_time', 'trade_size', 'bid_orders', 'bid_size', 'bid_price', 'ask_price', 'ask_size', 'ask_orders'])

Querying data from the database...
Total Rows Processed: 210643

!!!!!!!!!!!!! Packet Fetching FINIHSED SUCCESSFULLY !!!!!!!!!!!!!
TOTAL: 4292 events